
body {
  font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}


h1.title {
  color: #333333;
  font-family:Georgia,Utopia,Charter,serif;
}
