<!DOCTYPE html>
<html>
  <head>
    <link href="/css/vanilla.reset.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/otfpoc.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/applets/MUE/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/applets/homepage/style.css" media="all" rel="stylesheet" type="text/css" />
    <title>megaUNI Homepage</title>
  </head>
  <body>
    {{> markup}}
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/lodash/lodash.min.js"></script>
    <script src="/scripts/da99.applet.js/applet.js"></script>
  </body>
</html>

