<!DOCTYPE html>
<html>
  <head>
    <link href="/styles/vanilla.reset.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/styles/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/styles/otfpoc.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/applets/MUE/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/applets/homepage/style.css" media="all" rel="stylesheet" type="text/css" />
    [[& meta ]]
    <title>[[ title ]]</title>
  </head>
  <body>
    [[> markup ]]
    <script src="/vendor/bower/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bower/jquery.serializeJSON/jquery.serializejson.min.js"></script>
    <script src="/vendor/bower/lodash/lodash.min.js"></script>
    <script src="/vendor/bower/promisejs/promise.min.js"></script>
    <script src="/scripts/applet.babel.js"></script>
    <script src="/scripts/megauni.babel.js"></script>
    [[& scripts ]]
  </body>
</html>

