<config title="megaUNI Home" />
<config scripts>
  <script src="/applets/homepage/script.js"></script>
</config>

    <div class="hidden block" data-show_if="logged_in?">
      <p>You are logged in.</p>
    </div>

    <div class="hidden block" data-show_if="!logged_in?">
      <h3>Log-In</h3>
      <div class="content">
        <form action="/sign-in" id="sign_in" method="post">
          <div class="fields">
            <div class="field screen_name"><label for="LOGIN_SCREEN_NAME">Screen name:</label><input name="screen_name" type="text" value="" /></div>
            <div class="field passphrase"><label for="LOGIN_PASS_PHRASE">Pass phrase:</label><input name="pswd" type="password" value="" /></div>
            <div class="field buttons"><button class="submit">Log-In</button></div>
          </div>
        </form>
      </div>
    </div>

    <div class="hidden block" data-show_if="!logged_in?">
      <h3>Create a New Account</h3>
      <div class="content">
        <form action="/user" id="create_account" method="post">
          <div class="fields">
            <div class="field screen_name"><label for="NEW_CUSTOMER_SCREEN_NAME">Screen name:</label><input name="screen_name" type="text" value="" /></div>
            <div class="field pswd"><label for="NEW_CUSTOMER_PASS_PHRASE"><span class="main">Pass phrase</span><span class="sub"> (for better security, use spaces and words)</span><span class="main">:</span></label><input name="pswd" type="password" value="" /></div>
            <div class="field confirm_pass_phrase"><label for="NEW_CUSTOMER_CONFIRM_PASS_PHRASE"><span class="main">Re-type the pass phrase:</span></label><input name="confirm_pass_word" type="password" value="" /></div>
            <div class="buttons"><input name="_csrf" type="hidden" value="{{_csrf}}" /><button class="submit">Create Account</button></div>
          </div>
        </form>
      </div>
    </div>

    <script id="Welcome" type="text/applet"> 
    </script>
    <script id="New_Session" type="text/applet">
    </script>
    <script id="New_Customer" type="text/applet">
    </script>
    <div class="block" id="intro">
      <h1 class="site"><span class="main">mega</span><span class="sub">UNI</span></h1>
      <p><a href="/home">/home</a></p>
      <p><a href="/@da99">/@da99</a></p>
      <p><a href="/!4567">/!4567</a></p>
      <p><a href="/nowhere">/nowhere</a></p>
      <div class="disclaimer">
        <p>
          (c) 2012-<span id="copyright_year_today">2015</span> megauni.com. Some rights reserved.
        </p>
        <p>All other copyrights belong to their respective owners, who have no association to this site:</p>
        <p><span>Logo font: </span><a href="http://openfontlibrary.org/en/font/otfpoc">Aghja</a></p>
        <p><span>Palettes: </span><a href="http://www.colourlovers.com/lover/dvdcpd">dvdcpd</a><a href="http://www.colourlovers.com/palette/154398/bedouin">shari_foru</a></p>
      </div>
    </div>
